@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

html {
  position: relative;
  min-height: 100%;
}
main {
  margin-bottom: 200px;
}
footer.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
p {
  font-size: 12px;
  font-family: $font-family-serif;
  margin: 0;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 16px;
  }
}
.hero-scene {
  position: relative;
  margin-bottom: 15px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/banner-home.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);
  }
  * {
    position: relative;
  }
  .hero-scene_content {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.text-justify {
  text-align: justify;
}
article {
  h2 {
    margin-bottom: 24px;
  }
}
.img-card {
  position: relative;
  &:hover {
    .titre-img,
    .action-image-buttons {
      opacity: 1;
    }
    img {
      filter: brightness(0.3);
    }
  }
  .action-image-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.3s;
  }
  img {
    transition: all 0.3s;
  }
  .titre-img {
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    position: absolute;
  }
}
.form-label {
  color: $primary;
}
.allResa {
  a {
    display: block;
    color: $black;
    padding: 10px;
  }
}
